body {
    padding-bottom: 20px;
  }
  
  .navbar {
    margin-bottom: 20px;
  }
  
}

.PCcMF {
    height: 500px;
    width: auto;
    align-items: center;
}
.bpiymu {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 111px;
    flex: 1 1 0%;
}
.hzACMs {
    padding-top: 50px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex: 1 1 50%;
    width: 100%;
}
.bCQvZB {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    justify-content: center;
    z-index: 1;
    min-width: 250px;
}
.list-group{
    padding-top: 50px;
}

.fMiPFS {
    height: 38px;
    width: 38px;
    margin-right: 15px;
}
.fZWORJ {
    margin-top: -8px;
    flex-shrink: 0;
    width: 72px;
    height: 72px;
    margin-right: var(--spacing-4);
    background-color: var(--background);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgb(218 225 233 / 56%) 0px 8px 16px;
}
.iZMyTT {
    margin-top: 0px;
    margin-bottom: var(--spacing-3);
    line-height: 48px;
    font-size: 40px;
    font-family: CoinbaseDisplay, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    color: var(--foreground);
    font-weight: 500;
    text-align: center;
}
.MlHGr{
    text-align: center;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.FhfhD {
    background: var(--primary);
}
.EYbPM {
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: var(--spacing-2);
    line-height: 48px;
    font-size: 56px;
    font-family: CoinbaseDisplay, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
}
.fREMnJ {
    line-height: 24px;
    font-size: 16px;
    opacity: 0.7;
}
.kesOkd {
    flex: 1 1 0%;
    text-align: center;
}
.gTXWet {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    justify-content: center;
    color: var(--primary-foreground);
    margin: var(--spacing-5) 0px;
}
.lFUTY {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    max-width: 1180px;
    margin: 0px auto;
    padding: 24px;
}
.lFUTY {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    max-width: 1180px;
    margin: 0px auto;
    padding: 24px;
}
.iZSDKj {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: var(--spacing-8) 0px;
}
.bOKuQo {
    margin: 0px;
    line-height: 48px;
    font-size: 40px;
    color: var(--foreground);
    font-family: CoinbaseDisplay, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
}
.ioUUSw {
    margin-top: var(--spacing-2);
    line-height: 28px;
    font-size: 16px;
    color: var(--foreground-muted);
    opacity: 0.7;
    font-weight: 400;
}
.dptiub {
    padding-top: 3rem;
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-top: var(--spacing-8);
}
.eYDFyM {
    text-align: center;
}
.krdaqO {
    flex: 1 1 0%;
    height: 1px;
    margin-top: var(--spacing-5);
    background-color: var(--line-heavy);
}
.cda{
    font-size: 4rem;
}

.epvqim {
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    position: relative;
    background-color: var(--primary-wash);
    height: 460px;
    width: 100%;
    overflow: hidden;
}
.ciNoZ {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex: 1 1 50%;
    width: 100%;
}
.ciNoZ {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex: 1 1 50%;
    width: 100%;
}
.bUineL {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 65%;
    max-width: 750px;
    height: auto;
}
.bCQvZB {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    justify-content: center;
    z-index: 1;
    min-width: 250px;
}
.epSiiF {
    position: fixed;
    width: 100%;
    top: 0px;
    background: rgb(255, 255, 255);
    z-index: 2;
    box-shadow: rgb(255 255 255) 0px -1px 0px 1px;
}